/*VARIABLES*/
$color-dark:#303030;
$color-white:#fff;
$color-black:#000;
$color-primary:#0166ff;
$color-secondary:#ccc;
$color-blue: #2e62af;
$color-red: #ce0000; 
$color-purple: #54275f;

$font-Roboto: Roboto, sans-serif;
$font-Cinzel: Cinzel;
$font-Marck: "Marck Script", cursive;
